
# ------------------------------------------------------------------------------ COMPILED BUNDLES

# Compiled bundles and resources
dist/index.html
dist/assets/bundles/*
dist/assets/resources/*

# Deployer env
properties/.envName

# Deployed config
src/_common/data/config.ts

# Generated atoms / bundles.ts / pages.ts / Pre-build files
src/_common/atoms.ts
src/_common/fonts/fonts.less
src/bundles.ts
src/*/pages.ts
src/resources.ts

# Generated sprites
src/*/sprites/*.less
src/*/sprites/*.png
src/*/sprites/*.ts
src/*/sprites/*.cache


# ------------------------------------------------------------------------------ LOGS FILES

# Npm logs
npm-debug.log*

# Other logs
*.log


# ------------------------------------------------------------------------------ IDE FILES

# IntelliJ IDE
.idea/*/
.idea/*.*
!.idea/codeStyles
!.idea/.name
!.idea/libraries
!.idea/jsLibraryMappings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/typescript-compiler.xml
!.idea/php.xml
!.idea/*.iml
!.idea/vcs.xml

# Other IDEs
.project
.settings


# ------------------------------------------------------------------------------ TEMP AND BUILD FILES

.fusebox
.alm/
.DS_Store
.tmp/


# ------------------------------------------------------------------------------ MODULES SYSTEMS

# Node modules
node_modules/

# Yarn lock file
yarn.lock