# Deployed config
src/_common/data/config.ts

# Generated atoms / bundles.ts / pages.ts
src/_common/atoms.ts
src/_common/fonts/fonts.less
src/_common/sprites/sprites.less
src/bundles.ts
src/*/pages.ts
src/resources.ts

# Generated sprites
src/*/sprites/*.less
src/*/sprites/*.png
src/*/sprites/*.ts
src/*/sprites/*.cache
